@import "../../../_css/common";

.form {
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;
}

.submit {
  width: 100%;
}

.message {
  margin-bottom: var(--base);
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  font-size: 12px;
}
